.navbarContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
}

.leftNavbar{
    display: flex;
    flex-direction: row;
    width: 25%;
}
.leftNavbar img{
    display: block;
    padding-top: 25px;
    padding-right: 10%;
    width: 11%;
    height: 40%;
}

.rightNavbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    text-decoration: none;
    color: #0A181D;
}
.rightNavbar > button{
  background-color: white;
  border: 1px solid #f15824;
  border-radius: 10px;
  padding: 0px 20px;
}
.rightNavbar > li{
    list-style: none;
    font-size: 20px;
    margin-top: 15px;
   }

.rightNavbar li.active a{
  color: #f15824;
   }

