body{
  margin: 0%;
}
.back {
    background-color: #2D3748;
    font-family: CircularStd;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 20px;
    color: black;
  }
  .mainContainer
  {
    margin-top: 60vh;
    width: 100%;
    background-color: #2d3748;
    color: black;
    padding: 20px 0px;
  }
  .content{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 23% 40% 23%;
    justify-content: space-between;
    grid-gap: 5%;
  }


  .firstCols{
    display:flex;
    flex-direction: column;
    color: #fff;
    font-size: 20px;
  }
  .firstCols > div{
    display: flex;
    gap: 6%;
  }
  .firstCols > div > img{
    background-color: #2D3748;
    padding-top: 33px;
    width: 11%;
    height: 40%;
  }

  .footHeading{
    font-size: 24px;
    font-weight: 700;
    color:rgb(203, 213, 224);
  }
  .socialIcon{
    display: flex;
    column-gap: 6%;
  }
  .socialIcon > img{
    width: 11%;
    height: 40%;
  }
  .secondColumn{
    display: flex;
    font-size: 20px;
    margin: 6px !important;
    justify-content: space-between;
    color: #fff;
  }
  .copyRight{
    margin-top: 10%;
    font-size: 20px;
    color: #fff;
  }